@using static Helpers.StringHelpers
@model Models.Recording

<div class="card illustrated">
    <img class="cover" src="~/img/covers/@Model.CoverName" alt="Cover"/>
    <div>
        @foreach (var performer in Model.Performers)
        {
            <div class="card__title">
                @if (performer.Instrument != null)
                {
                    <span>@performer.FirstName @performer.LastName</span>
                    <span class="card__instrument">@performer.Instrument</span>
                }
                else
                {
                    <span>@performer.FirstName @performer.LastName</span>
                }
            </div>
        }
        <div class="card__subtitle">
            @if (Model.Label != null)
            {
                <span>@Model.Label</span>
                <span class="vertical-separator"></span>
            }
            @if (Model.YearStart != null || Model.YearFinish != null)
            {
                <span>@formatYearsRangeLoose(Model.YearStart, Model.YearFinish)</span>
                <span class="vertical-separator"></span>
            }
            <span>@formatWorkLength(Model.Length)</span>
        </div>
        <div class="card__streamers">
            @foreach (var streamer in Model.Streamers)
            {
                <div class="card__streamer-el">
                    <a href="@streamer.Prefix@streamer.Link" class="umami--click--@streamer.Name-rec-id-@Model.Id">
                        <img src="~/img/@streamer.Icon" alt="Streaming service logo"/>
                    </a>
                </div>
            }
        </div>
    </div>

</div>