@page "~/composer/{slug}"
@using static Helpers.StringHelpers
@model Site.Pages.ComposerModel
@{
    ViewData["Title"] = Model.Composer.LastName;
    ViewData["Description"] = $"List of important compositions by {Model.Composer.FirstName} {Model.Composer.LastName}.";
}

<h1>@Model.Composer.FirstName @Model.Composer.LastName</h1>
<div class="header-subtitle">
    <span>@string.Join(", ", Model.Composer.Countries)</span>
    <span class="vertical-separator"></span>
    <span>@Model.Composer.YearBorn.ToString()&ndash;@Model.Composer.YearDied.ToString() </span>
    <span class="vertical-separator"></span>
    <a href="@Model.Composer.WikipediaLink">Wikipedia</a>
    <span class="vertical-separator"></span>
    <a href="@Model.Composer.ImslpLink">IMSLP</a>
</div>

@foreach (var genre in Model.Genres)
{
    <h2>@genre.Icon @genre.Name</h2>
    <hr/>
    <div class="card-list">
        @foreach (var work in genre.Works)
        {
            <a href="/composer/@Model.Composer.Slug/work/@work.Id.ToString()">
                @await Html.PartialAsync("_WorkCard", work)
            </a>
        }
    </div>
}