@page "~/composer/{composerSlug}/work/{workId}"
@using static Helpers.StringHelpers
@model Site.Pages.WorkModel
@{
    var workName = Model.Work.Title;
    @if (Model.Work.No != null)
    {
        workName = $"{workName} No. {Model.Work.No.ToString()}";
    }
    ViewData["Title"] = $"{workName} - {Model.Composer.LastName}";
    ViewData["Description"] = $"List of good {Model.Work.Title} recordings composed by {Model.Composer.FirstName} {Model.Composer.LastName} with direct links to the streaming apps.";
}

<h1>
    <span>@Model.Work.Title</span>
    @if (Model.Work.No != null)
    {
        <span>&nbsp;No. @Model.Work.No.ToString()</span>
    }
    @if (Model.Work.CatalogueName != null)
    {
        <span>,&nbsp;</span>
        <span>@Model.Work.CatalogueName&nbsp;@Model.Work.CatalogueNumber.ToString()@Model.Work.CataloguePostfix</span>
    }
    @if (Model.Work.Nickname != null)
    {
        <span>: @Model.Work.Nickname</span>
    }
</h1>
<div class="header-subtitle">
    <span><a href="/composer/@Model.Composer.Slug">@Model.Composer.FirstName @Model.Composer.LastName</a>,</span>
    <span>@formatYearsRangeLoose(Model.Work.YearStart, Model.Work.YearFinish)</span>
</div>

@if (Model.ChildWorks.Length > 0)
{
    <h2>Individual Works</h2>
    <hr/>
    <div class="card-list">
        @foreach (var work in Model.ChildWorks)
        {
            @await Html.PartialAsync("_WorkCard", work)
        }
    </div>
}

<h2>Recommended Recordings</h2>
<hr/>

<div class="card-list full-width">
    @foreach (var recording in Model.Recordings)
    {
        @await Html.PartialAsync("_RecordingCard", recording)
    }
</div>